<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">add station</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <section id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">add operation</h3>
                            <div class="form-group">
                                <label class="text-info">Station name</label><br>
                                <input type="text" class="form-control" [(ngModel)]="Station.name"/>
                            </div>
                            <div class="form-group">
                                <input (click)="add_Station()" type="submit" name="add" class="btn btn-info btn-md" value="add">
                            </div>
                            <div id="register-link" class="text-right">

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
