<section class="vh-100" style="background-color: red;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Station page</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">select:</h6>

              </div>
              <div class="col-md-9 pe-5">

                <button class="form-control form-control-lg" [routerLink]="['/addStation']"><a [routerLink]="['/addStation']">create a station</a></button>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">select</h6>

              </div>
              <div class="col-md-9 pe-5">

                <button class="form-control form-control-lg" [routerLink]="['/getStation']"><a [routerLink]="['/getStation']">get all stations</a></button>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">select:</h6>

              </div>
              <div class="col-md-9 pe-5">

                <button class="form-control"  [routerLink]="['/updateStation']"><a [routerLink]="['/updateStation']">update station by id</a></button>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">select</h6>

              </div>
              <div class="col-md-9 pe-5">

                <button class="form-control form-control-lg" [routerLink]="['/deleteStation']"><a [routerLink]="['/deleteStation']">delete station by id</a></button>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <h5>no more operations</h5>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
