<section class="text-center">
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">add a trip</h2>
          <section action="" method="post">

            <div class="form-outline mb-4">
              <input type="text" id="form3Example5" class="form-control" placeholder="start time" [(ngModel)]="Trip.startTime"/>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control" placeholder="end time" [(ngModel)]="Trip.endTime"/>

            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form3Example4" class="form-control" placeholder="from station" [(ngModel)]="Trip.fromStation.name"/>

            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form3Example6" class="form-control" placeholder="to station" [(ngModel)]="Trip.toStation.name"/>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4" (click)="add_trip()">
              add a trip
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
